@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");

/*Reset*/
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    color: #1f4568;
}

body {
    background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* colors 8a3aff, 6f79ff, 3a9fff black-> 1f4568  grey->8198ae*/
.sect {
    padding: 90px 0;
    position: relative;
    margin-top: 80px;
}

.collapse {
    display: block;
}

.sect--grey {
    /*background-color: #ebeff9;*/
}

.sect--violet {
    background-color: #6f79ff;
}

.sect--padding-bottom {
    padding-bottom: 115px;
}

.category-list {
    opacity: 0; 
    visibility: hidden; 
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.header__el--category:hover .category-list {
    opacity: 1;
    visibility: visible;
}

.category-list li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    text-align: left; 
    font-size: 14px; 
    display: block; 
    white-space: nowrap;  
}
.category-list li a{
    text-decoration: none;
}

.category-list li:hover {
    background-color: #f5f5f5; 
    color: #333; 
    cursor: pointer;
}


.sect--padding-top {
    padding-top: 90px;
}

.sect--white {
    /* background-color:#fff;*/
}
.row--center {
    max-width: 1000px;
    margin: 0 auto;
}
.row--margin {
    margin-top: 45px;
}
.hind{
    margin-top: 45px;
    margin-left: 29px;
}
.row__title {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    margin-top: 0px;
}

.row__sub {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    color: #8198ae;
}

.price-box {
    padding: 0px 25px;
}
.box-product{
    display: flex;
    flex-wrap: wrap;
}
.price-box__wrap {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2); /*0px 22px 20px -10px rgba(0, 0, 0,0.2)*/
    padding: 35px 35px 40px 35px;
    text-align: center;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.price-box__img {
    display: inline-block;
}

.price-box__img {
    height: 130px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.price-box__title {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.price-box__people {
    font-size: 12px;
    color: #8198ae;
    font-weight: 300;
    letter-spacing: 1px;
}
.price-box__discount {
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
}

.price-box__dollar {
    font-size: 18px;
    font-weight: 400;
    vertical-align: top;
    margin-right: 4px;
}

.price-box--purple .price-box__dollar {
    color: #8a3aff;
}

.price-box--violet .price-box__dollar {
    color: #6f79ff;
}

.price-box--blue .price-box__dollar {
    color: #3a9fff;
}

.price-box__discount--light {
    font-weight: 400;
    font-size: 20px;
    margin-left: 3px;
}

.price-box__price {
    margin-top: 3px;
    font-size: 14px;
    color: #8198ae;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-weight: 300;
    text-decoration: line-through;
}

.price-box__feat {
    margin-top: 30px;
    font-size: 16px;
}

.price-box__list {
    text-align: left;
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

.price-box__list-el {
    position: relative;
    margin-bottom: 8px;
    font-weight: 300;
}

.price-box__list-el:before {
    content: "✓";
    position: absolute;
    left: -25px;
    font-size: 18px;
    top: -4px;
}

.price-box--purple .price-box__list-el:before {
    color: #8a3aff;
}

.price-box--violet .price-box__list-el:before {
    color: #6f79ff;
}

.price-box--blue .price-box__list-el:before {
    color: #3a9fff;
}

.price-box__wrap:hover {
    backface-visibility: hidden;
    transform: scale(1.05, 1.05);
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #3a9fff;
    border-radius: 20px;
    padding: 10px 25px;
    color: #fff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.btn:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
    background-color: #63b2fc;
    color: #fff;
}

.price-box__wrap:hover .btn {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
}

.btn--revert {
    background-color: transparent;
    color: #8198ae;
    box-shadow: none;
    border: 1px solid #c9d9e9;
}

.btn--revert:hover {
    background-color: transparent;
    color: #1f4568;
    box-shadow: none;
    border: 1px solid #8198ae;
}

.btn--purple {
    background-color: #8a3aff;
}

.btn--purple:hover {
    background-color: #b284f6;
}

.btn--width {
    width: 120px;
}
.site {
    text-align: center;
}
.site__title {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.site__subtitle {
    font-size: 22px;
    color: #8198ae;
    margin: 15px 0 40px 0;
    text-align: center;
}

.site__img {
    margin-top: 50px;
    display: inline-block;
    width: 77%;
}
.site__box-link .btn--revert {
    margin-left: 15px;
} 

/*menu header*/
.header {
    padding: 30px 25px;
}
.header__elenco {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
.header__menu {
    float: right;
}
.header__el {
    padding: 0 25px;
    display: inline-block;
    
}
.header__el button{
    border: none;
}
.header__img {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}
.header__logo,
.header__menu {
    display: inline-block;
    vertical-align: middle;
}
.header__title {
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
}

.header__light {
    color: #8198ae;
}
.header__link {
    color: #1f4568;
    font-size: 14px;
}
.header__link:hover {
    text-decoration: none;
    color: #3a9fff;
}
.partner {
    margin-bottom: 15px;
    text-align: center;
}
.partner_img {
    width: 160px;
    opacity: 0.5;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.footer {
    background-color: #1f4467;
    padding: 40px 0;
}

.footer__title {
    font-size: 18px;
    margin-bottom: 85px;
    margin-left: 10px;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    color: #3a9fff;
}

.footer__light {
    color: #fff;
}
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background: linear-gradient(to right, #b9daf8 0%, #56beee 100%);
    font-size: 12px;
  }
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 1000px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #1dd2ea;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #1dd2ea;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #1dd2ea;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #1dd2ea;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  