@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");

/*Reset*/
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    color: #1f4568;
}

body {
    background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* colors 8a3aff, 6f79ff, 3a9fff black-> 1f4568  grey->8198ae*/
.sect {
    padding: 90px 0;
    position: relative;
    margin-top: 80px;
}

.collapse {
    display: block;
}

.sect--grey {
    /*background-color: #ebeff9;*/
}

.sect--violet {
    background-color: #6f79ff;
}

.sect--padding-bottom {
    padding-bottom: 115px;
}

.category-list {
    opacity: 0; 
    visibility: hidden; 
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.header__el--category:hover .category-list {
    opacity: 1;
    visibility: visible;
}

.category-list li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    text-align: left; 
    font-size: 14px; 
    display: block; 
    white-space: nowrap;  
}
.category-list li a{
    text-decoration: none;
}

.category-list li:hover {
    background-color: #f5f5f5; 
    color: #333; 
    cursor: pointer;
}


.sect--padding-top {
    padding-top: 90px;
}

.sect--white {
    /* background-color:#fff;*/
}
.row--center {
    max-width: 1000px;
    margin: 0 auto;
}
.row--margin {
    margin-top: 45px;
}
.hind{
    margin-top: 45px;
    margin-left: 35px;
}
.row__title {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    margin-top: 0px;
}

.row__sub {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    color: #8198ae;
}

.price-box {
    padding: 0px 25px;
}
.price-box1 {
    padding: 0;
    width: 400px; /* Divide the width by 4 to create 4 equal-width boxes */
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.box-product{
    display: flex;
    flex-wrap: wrap;
}
.price-box__wrap {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2); /*0px 22px 20px -10px rgba(0, 0, 0,0.2)*/
    padding: 35px 35px 40px 35px;
    text-align: center;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.price-box__wrap1 {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 35px 35px 40px 35px;
    text-align: center;
    transition: all 0.4s;
}
.price-box__img1 {
    width: 100%; /* Make the image take 100% of the container width */
    height: auto; /* Allow the image to maintain its aspect ratio */
    display: block; /
}
.img_box{
    width: 100%;
    height: 350px;
}
.price-box__img {
    width: 500px;
    display: inline-block;
    height: 130px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.price-box__title {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.price-box__people {
    font-size: 12px;
    color: #8198ae;
    font-weight: 300;
    letter-spacing: 1px;
}
.price-box__title1 {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.price-box__people1 {
    font-size: 12px;
    color: #8198ae;
    font-weight: 300;
    letter-spacing: 1px;
}
.price-box__discount {
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
}

.price-box__dollar {
    font-size: 18px;
    font-weight: 400;
    vertical-align: top;
    margin-right: 4px;
}

.price-box--purple .price-box__dollar {
    color: #8a3aff;
}

.price-box--violet .price-box__dollar {
    color: #6f79ff;
}

.price-box--blue .price-box__dollar {
    color: #3a9fff;
}

.price-box__discount--light {
    font-weight: 400;
    font-size: 20px;
    margin-left: 3px;
}

.price-box__price {
    margin-top: 3px;
    font-size: 14px;
    color: #8198ae;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-weight: 300;
    text-decoration: line-through;
}

.price-box__feat {
    margin-top: 30px;
    font-size: 16px;
}

.price-box__list {
    text-align: left;
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

.price-box__list-el {
    position: relative;
    margin-bottom: 8px;
    font-weight: 300;
}

.price-box__list-el:before {
    content: "✓";
    position: absolute;
    left: -25px;
    font-size: 18px;
    top: -4px;
}

.price-box--purple .price-box__list-el:before {
    color: #8a3aff;
}

.price-box--violet .price-box__list-el:before {
    color: #6f79ff;
}

.price-box--blue .price-box__list-el:before {
    color: #3a9fff;
}

.price-box__wrap:hover {
    backface-visibility: hidden;
    transform: scale(1.05, 1.05);
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

.form-search{
    margin-top: 30px;
}

.form-search input[type="text"]{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bóng nổi */
    outline: none;
}

.select-price{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
}
.select-price input{
    margin-left: 30px;
}

.btn-search{
    border: none;
}

.btn {
    background-color: #3a9fff;
    border-radius: 20px;
    padding: 10px 25px;
    color: #fff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.btn:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
    background-color: #63b2fc;
    color: #fff;
}

.price-box__wrap:hover .btn {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
}

.btn--revert {
    background-color: transparent;
    color: #8198ae;
    box-shadow: none;
    border: 1px solid #c9d9e9;
}

.btn--revert:hover {
    background-color: transparent;
    color: #1f4568;
    box-shadow: none;
    border: 1px solid #8198ae;
}

.btn--purple {
    background-color: #8a3aff;
}

.btn--purple:hover {
    background-color: #b284f6;
}

.btn--width {
    width: 120px;
}
.site {
    text-align: center;
}
.site__title {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.site__subtitle {
    font-size: 22px;
    color: #8198ae;
    margin: 15px 0 40px 0;
    text-align: center;
}

.site__img {
    margin-top: 50px;
    display: inline-block;
    width: 77%;
}
.site__box-link .btn--revert {
    margin-left: 15px;
} 

/*menu header*/
.header {
    padding: 30px 25px;
}
.header__elenco {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
.header__menu {
    float: right;
}
.header__el {
    padding: 0 25px;
    display: inline-block;
    
}
.header__el button{
    border: none;
}
.header__img {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}
.header__logo,
.header__menu {
    display: inline-block;
    vertical-align: middle;
}
.header__title {
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
}

.header__light {
    color: #8198ae;
}
.header__link {
    color: #1f4568;
    font-size: 14px;
}
.header__link:hover {
    text-decoration: none;
    color: #3a9fff;
}
.partner {
    margin-bottom: 15px;
    text-align: center;
}
.partner_img {
    width: 160px;
    opacity: 0.5;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.footer {
    background-color: #1f4467;
    padding: 40px 0;
}

.footer__title {
    font-size: 18px;
    margin-bottom: 85px;
    margin-left: 10px;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    color: #3a9fff;
}

.footer__light {
    color: #fff;
}