.form-box{
    width: 1000px;
}
.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

thead {
    background-color: #4CAF50;
    color: white;
}
.btn-add{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
